<div th:fragment="footer">
    <footer class="py-5 bg-dark text-white">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>About Us</h5>
                    <p>We are passionate about books and believe in the power of reading to expand minds and enrich lives. Our platform is dedicated to helping you discover new favorites, connect with fellow book lovers, and even share your own literary creations.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Home</a></li>
                        <li><a href="#" class="text-white">Explore the Collection</a></li>
                        <li><a href="#" class="text-white">Create Your Own</a></li>
                        <li><a href="#" class="text-white">Contact Us</a></li>
                        <li><a href="#" class="text-white">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Contact Us</h5>
                    <p>If you have any questions, suggestions, or just want to chat about books, feel free to reach out to us:</p>
                    <p><i class="bi bi-envelope"></i> contact@booklover.com</p>
                    <p><i class="bi bi-phone"></i> +1 234 567 890</p>
                </div>
            </div>
            <div class="pt-4">
                <p>&copy; 2024 BookLibra Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>

