<div th:fragment="header">

    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4" style="margin-left: 5rem">BookLibra</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto" style="margin-right: 5rem">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Home</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/books">Books</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="/book/create">Profile</a>
        </nav>
    </div>
</div>